<br />
<br />
<ul>
  <li>{{#link-to 'portland'}}Portland{{/link-to}}</li>
  <li>{{#link-to 'nyc'}}New York City{{/link-to}}</li>
</ul>
  {{!-- {{#each model as |city|}}
    {{city.name}}
  {{/each}} --}}

{{outlet}}
