<h1>{{model.name}}</h1>
<br />
<br />
{{model.description}}
<br />
<br />
<ul>
  {{#each model.neighborhoods as |hood|}}
    <li>{{#link-to 'city.neighborhood' hood.id}}{{hood.name}}{{/link-to}}</li>
  {{/each}}
</ul>

{{outlet}}
